//--!--<< Couleurs >>--!--//
$primary-color : #FF6060;
$secondary-color : #F7F7F7;

$radius : 10px;
$x-radius : 20px;

$x-small-size : 14px;
$small-size : 16px;
$normal-size : 18px;
$x-normal-size : 24px;
$large-size : 48px;
$x-large-size : 200px;
