@import './variables';
@import './placeholders';

.Card {
    border-radius: $radius;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column-reverse;
    background: $primary-color;
    margin: 6px;
    text-decoration: none;
}

.Card-text {
    @extend %police;
    font-size: $normal-size;
    line-height: 142.6%;
    height: 30%;
    margin: 5px;
    color: #FFFFFF;
}

.Card-img {
    background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: 97%;
    border-radius: $radius;
}

.Card-img-size {
    width: 95%;
    height: 70%;
    border-radius: $radius;
    object-fit: cover;

}