@import './variables';
@import './placeholders';

.Card {
    border-radius: $normal-radius;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column-reverse;
    background: $primary-color;
    margin: 6px;
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
    @media screen and (max-width: 768px){
        width: 100%;
        height: 260px;
        margin: 15px 0px 0px 0px;
    }
}

.Card-text {
    @extend %police;
    font-size: $normal-size;
    line-height: 142.6%;
    height: 30%;
    margin: 5px;
    color: white; 
    @media screen and (max-width: 768px){
        margin: 20px;
        height: fit-content;
    }  
}

.Card-img {
    background: $primary-color;
    width: 100%;
    height: 97%;
    border-radius: $normal-radius;
}

.Card-img-size {
    width: 95%;
    height: 70%;
    border-radius: $normal-radius;
    object-fit: cover;
    @media screen and (max-width: 768px){
        width: 97%;
    }
}