@import './variables';
@import './placeholders';

.Carrousel{
    width: 100%;
    height: 350px;
    position: relative;  
    @media screen and (max-width: 768px){
        height: 260px;
        margin-top: 16px;
    }
}

.Carrousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $medium-radius;
}

.Carrousel-left-arrow{
    @extend %arrow;
    transform: rotate(90deg);
    &:hover{
        cursor: pointer;
    }
}
.Carrousel-right-arrow{
    @extend %arrow;
    transform: rotate(270deg);
    &:hover{
        cursor: pointer;
    }
}

.Carrousel-count{
    @extend %police;
    font-size: $normal-size;
    align-self: flex-end;
    color: white;
}

.Carrousel-container{
    position: absolute;
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}