@import './variables';
@import './placeholders';

.Error {
    width: 100%;
    min-height: 100vh;
    @extend %flexbox_center;
    flex-direction: column;
    @media screen and (max-width: 768px){
       margin: 120px 0px 60px 0px;
    }
}

.Error-div-text-404 {
    width: fit-content;
    height: 100%;
    position: relative;
    @extend %flexbox_center;
    flex-direction: row;

}

.Error-text-404 {
    @extend %police;
    font-size: $very-large-size;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px;
    color: $primary-color;
    @media screen and (max-width: 768px){
        font-size: $very-large-size - 100px;
    }
}

.Error-text-existe-pas {
    position: relative;
    @extend %flexbox_center;
    flex-direction: row;
    @extend %police;
    font-size: 36px;
    line-height: 142.6%;
    margin: 0px 0px 20px 0px;
    color: $primary-color;
    @media screen and (max-width: 768px){
        font-size: $medium-size;
        text-align: center;
        white-space: pre-line;
    }
}

.Error-text-retour-accueil {
    /* Retourner sur la page d’accueil */
    position: relative;
    @extend %flexbox_center;
    flex-direction: row;
    @extend %police;
    font-size: $normal-size;
    line-height: 142.6%;
    text-decoration-line: underline;
    margin: 120px 0px 120px 0px;
    color: $primary-color;
}