@import './variables';
@import './placeholders';

.Footer {
    width: 100%;
    height: 109px;
    @extend %flexbox_center;
    flex-direction: column;
    background: black;
    padding-top: 20px;
    margin-top: auto;
}

.Footer-text {
    /* © 2020 Kasa. All rights reserved */
    position: relative;
    @extend %flexbox_center;
    flex-direction: row;
    @extend %police;
    font-size: $small-size;
    line-height: 142.6%;
    text-align: center;
    color: #FFFFFF;
   
    @media screen and (max-width: 768px){
        font-size: $very-small-size;
    }  
}

.Footer-logo {
    height: fit-content;
    width: fit-content;
    position: relative;
    @extend %flexbox_center; 
    flex-direction: row;
}