@import './variables';
@import './placeholders';

.Header {
    /* _Header */
    position: relative;
    width: auto;
    height: 68px;
    @extend %flexbox_center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
}

.Header-nav {
    /* _Nav */
    position: relative;
    width: fit-content;
    height: 34px;
    display: flex;
    flex-direction: row;
}

.Header-nav-propos {
    /* A Propos */
    position: relative;
    @extend %police;
    font-size: $medium-size;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-left: 20px;
    color: $primary-color;
    text-decoration: none;
    @media screen and (max-width: 768px){
        font-size: $normal-size;
    }
}

.Header-nav-acceuil {
    /* Accueil */
    position: relative;
    @extend %police;
    font-size: $medium-size;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration: none;
    color: $primary-color;
    @media screen and (max-width: 768px){
        font-size: $normal-size;
    }
}