.Stars-rank{
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    width: fit-content;
    height: fit-content ;
}

.Stars-one, .Stars-two, .Stars-three, .Stars-four{
   margin-left: 8px; 
   margin-top: 8px;
   margin-bottom: 8px;
}

 .Stars-five{
    margin-left: 8px; 
    margin-right: 8px;
 }